spring:
  datasource:
    url: jdbc:oracle:thin:@oracle.fiap.com.br:1521/orcl
    username: ${DB_USERNAME:rm560593}
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        show_sql: false
seed:
  enabled: true
jwt:
  secret: ${JWT_SECRET}
otel:
  exporter:
    otlp:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://localhost:4318}
  export:
    enabled: true
logging:
  level:
    root: INFO
    org.springframework.security: WARN
    com.backend.humainzedash: INFO

